$main-bg: radial-gradient(123.22% 129.67% at 100.89% -5.60%, #201D47 0%, #17153A 100%);
$nav-bg: linear-gradient(180deg, rgba(38, 34, 80, 0.65) 0%, rgba(27, 25, 66, 0.85) 57.44%, #17163B 100%);
$card-bg: linear-gradient(224deg, rgba(52, 49, 102, 0.49) 0%, rgba(41, 39, 84, 0.78) 49.65%, rgba(27, 25, 67, 0.71) 100%);
$text: #6F6C99;
$hover: #53B9EA;
$title: #B1AFCD;
$border: #312F62;